:root {
  --color-primary: #c6c86c;
  --color-secondary: #a09574;
  --color-tertiary: #e7efcd;

  --color-primary-darker: #7e8925;
  --color-secondary-darker: #483c1f;
}

* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  color: var(--color-tertiary);
  background-color: var(--color-primary);
  font-family: "Quicksand", sans-serif;
}

nav {
  display: grid;
  align-items: center;
  justify-content: space-evenly;
  grid-template:
    ". a b"
    "c c c";
}

.title {
  grid-area: a;
  font-weight: 300;
  font-size: 54pt;
}

.menu {
  grid-area: b;
  margin-left: 50%;
  display: flex;
}

main {
  display: flex;
  justify-content: center;
  display: grid;
  grid-template:
    "a"
    "b";
}

.des {
  font-weight: 700;
  font-size: 23pt;
  padding: 1rem;
  width: 100%;
  grid-area: a;
}

.tasks {
  margin-top: 2rem;
  overflow: scroll;
  border-radius: 1rem;
  background-color: var(--color-primary-darker);
}

.task-row {
  grid-area: b;
  display: flex;
  align-items: center;
  padding: 2.5rem, 3rem;
  border-radius: 1rem;
  border-bottom: 1pt solid var(--color-primary);
}
.task--set {
  color: var(--color-primary-darker);
}

.material-icons.md-48.tertiary {
  font-size: 48px;
  color: var(--color-tertiary);
  justify-items: flex-end;
}
